.navTop .navTopList {
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0;
  overflow: hidden;
  background-color: white;
  float: right;
  width: 100%; }

.navTop .navTopItemLeft {
  float: left; }
  .navTop .navTopItemLeft a:hover {
    transform: none;
    background-color: white;
    color: black; }

.navTop .navTopItem {
  display: block; }

.floatRight {
  float: right; }
  @media only screen and (max-width: 767px) {
    .floatRight {
      width: 150px;
      clear: both; } }
  .floatRight .navTopItem {
    float: left; }
    @media only screen and (max-width: 767px) {
      .floatRight .navTopItem {
        float: right;
        display: none; } }

.navTopItem,
.navTopItemLeft {
  color: black; }
  .navTopItem .topNavAnchor,
  .navTopItemLeft .topNavAnchor {
    font-size: 1.5em;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none; }
    .navTopItem .topNavAnchor:hover,
    .navTopItemLeft .topNavAnchor:hover {
      color: white;
      background-color: black;
      display: inline-block;
      transform: skew(-25deg);
      -webkit-transform: skew(-25deg);
      -moz-transform: skew(-25deg);
      -o-transform: skew(-25deg); }

.skip {
  display: none; }
  @media only screen and (max-width: 767px) {
    .skip {
      display: block;
      float: right;
      padding: 10px;
      margin: 0 5px 2px; } }

.containerHello {
  border-bottom: 2px solid black; }

.containerFooter {
  border-bottom: none !important; }

.centerContent {
  display: flex;
  justify-content: center; }

.socIcon {
  width: 18px;
  height: 18px;
  margin: 16px 5px; }

.defaultSizing {
  border-bottom: 2px solid black;
  margin: 0 20px 0;
  overflow: hidden; }
  .defaultSizing p {
    margin-left: 25px;
    margin-right: 25px; }
