.containerAbout {
    .aboutCopy {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        p {
            margin: 10px !important;
            width: 200px !important;
        }
    }
}