#contactForm {
    border-bottom: none !important;
    padding-bottom: 1em;
    .contactFormContainer{
        margin: 0 auto;
        .form-group {
            padding-top: 5px;
            clear: both;
            width: 90%;
            margin: 0 auto !important;
            @media only screen and (min-width: 769px) {
                width: 50vw;
            }
            .contactLabel {
                margin-bottom: 5px !important;
            }
            .contactInputName,
            .contactInputEmail,
            .contactInputMessage {
                padding-left: 5px;
                border: $thin-border;
                max-width: 30vw !important;
                @media only screen and ($mobile) {
                    max-width: 100% !important;
                }
                float: right;
                margin: 0 auto !important;
                margin-top: 5px !important;
            }
            .contactInputName,
            .contactInputEmail {
                height: 2.5em !important;
            }
            .contactInputMessage {
                height: 5em !important;
            }
        }  
    }
}
#contactSubmit {
    display: block !important;
    margin: 0 auto;
    background-color: white !important;
    border: $thin-border;
}
#noStyling {
    padding: none;
    clear: none;
    width: none;
}