// Default Border
$flat-border: 2px solid black;
// Default Margin
$marginDefault: 0 20px 0;
// Desktop Media break
$desktop:   "min-width: 960px) and (max-width: 1199px";
// Tablet Media break
$tablet:    "min-width: 720px) and (max-width: 959px";
// Mobile Media break
$mobile: "max-width: 767px";