// This is the first time I have made my own hamburger/navigation menu for mobile.
// I didn't want to just copy+paste some random css/js from SO etc
// It's deffinelty not the prettiest code, but it works!
.containerNavTop {
  position: fixed;
  top: 0;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
.navTop {
  margin-left: 15px;
  .navTopList {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0;
    overflow: hidden;
    background-color: white;
    float: right;
    width: 100%;
  }
  .navTopItemLeft {
    margin-left: 10px;
    float: left;
    @media only screen and (min-width: 769px) {
      border: $thin-border;
      border-bottom: none;
    }
    a {
      &:hover {
        transform: none;
        background-color: white;
        color: black;
      }
    }
  }
  .navTopItem {
    display: block;
  }
}
.floatRight {
  float: right;
  @media only screen and ($mobile) {
    width: 150px;
    clear: both;
  }
  .navTopItem {
    float: left;
    @media only screen and ($mobile) {
      float: right;
      display: none;
      width: 200px;
    }
  }
  .navTopAnchorRight {
    @media only screen and ($mobile) {
      float: right;
    }
  }
}
.navTopItem,
.navTopItemLeft {
  color: black;
  .navTopAnchor {
    font-size: 1.5em;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: black;
      display: inline-block;
      transform: skew( -25deg);
      -webkit-transform: skew(-25deg);
    	   -moz-transform: skew(-25deg);
    	     -o-transform: skew(-25deg);
    }
  }
}
.skip {
  display: none;
  @media only screen and ($mobile) {
    display: block;
    float: right;
    padding: 10px;
    margin: 5px 5px 0px 0px;
  }
}
.navAnchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -65px;
}