.containerProjects {
    .projectsFlexContainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 25px;
        .projectContainer {
            margin: 10px;
            .projectTitle,
            .projectDescription {
                display: none;
            }
            .projectCapture {
                background: black;
                margin: 0 auto;
                width: 200px;
                height: 300px;
            }
        }
    }
}