@import "extend";
@import "navigation";
@import "mainContent";
@import "hello";
@import "cotact";
@import "footer";

body {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
.defaultSizing {
  border-bottom: $flat-border;
  margin: $marginDefault;
  overflow: hidden;
  p {
    margin-left: 25px;
    margin-right: 25px;
  }
}