// Import all sass files
@import "extend";
@import "sections/navigation";
@import "sections/mainContent";
@import "sections/hello";
@import "sections/about";
@import "sections/projects";
@import "sections/contact";
@import "sections/footer";
// Center body and set max-width
body {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}