.containerContact {
  padding-bottom: 1em;
  .contactForm {
    border-bottom: none !important;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    clear: both;
    .formLabel {
      float: left;
      clear: both;
      margin-bottom: 10px;
    }
    .formInput {
      float: right;
      // clear: both;
    }
    .formSend {
      margin-top: 10px;
      float: right;
      clear: both;
    }
  }
}