.containerFooter {
  border-bottom: none !important;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.socIcon {
  width: 18px;
  height: 18px;
  margin: 16px 5px;
}

#initials {
  width: 60px;
  height: 18px;
}