.mainContent {
  padding-top: 3.5em;
  overflow: auto;
}

.defaultSizing {
  border-bottom: $thick-border;
  margin: $marginDefault;
  overflow: hidden;
  p {
    margin-left: 25px;
    margin-right: 25px;
  }
}